<div class="rows">
  <div class="columns">
    <div class="ad" *ngFor="let ad of ads1" [class]="'ad-' + ad.size">
      <div>
        <img [src]="ad.imageUrl" alt="" (click)="onAdClick()" />
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="ad" *ngFor="let ad of ads2" [class]="'ad-' + ad.size">
      <div>
        <img [src]="ad.imageUrl" alt="" (click)="onAdClick()" />
      </div>
    </div>
  </div>

  <div class="columns">
    <div class="ad" *ngFor="let ad of ads3" [class]="'ad-' + ad.size">
      <div>
        <img [src]="ad.imageUrl" alt="" (click)="onAdClick()" />
      </div>
    </div>
  </div>
</div>
