.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .center {
    flex-grow: 2;
    display: flex;
    .main {
      border: 1px solid;
      width: 80%;
    }

    .ads {
      width: 20%;
    }
  }
}
