.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;

  .center {
    flex-grow: 2;
    display: flex;
    .main {
      border: 1px solid;
      flex-grow: 6;
    }

    .ads {
      flex-grow: 1;
    }
  }
}
